# Bot Telegram
TELEGRAM_TOKEN=your_telegram_bot_token_here

# HaveIBeenPwned API (~3.50$/mois)
HIBP_API_KEY=your_hibp_api_key_here

# Veriphone API (1000 req/mois gratuit)
VERIPHONE_API_KEY=your_veriphone_api_key_here

# IDs Telegram des admins (séparés par virgule)
ADMIN_IDS=123456789
